
.aboutus.content {
	margin-bottom: 0;
	.banner {
		background-position: center center;
		padding: 15% 0;
		&.bg-black-alpha:before {
			background: rgba(0,0,0,.5);
		}
	}
	.acknowledgements {
		margin: 0px;
		padding: 0px;
	}
	.bg-darkblue {
		background-color: $darkblue;
		*{color: #fff;}
	}
	.big-photo {
		padding: 0px;
	}
	.row.nog > div{
		padding: 0;
	}
	@media (max-width: 576px) {
		.one.one.one p {
			font-size: 14px;
		}
	}
	.recs, .semblanza {
		padding: 6%;
		h2 {
			margin-bottom: 30px;
		}
		@media(max-width: 900px) {
			font-size: 14px;
		}
	}
	@media(max-width: 768px) {
		.consuelo {
			min-height: 400px;
			background-position: center top;
		}
	}
	.reconocimientos .img-bg{
		height: 600px;;
	}
	.semblanza{
		padding: 5%;
		p {line-height: 180%;}
	}
	.recs {
		background-color: #efefef;
		border-top: 4px solid $lightgreen;
		height: 600px;
		overflow-y: scroll;
		position: relative;
	}
	.awards-list {
		list-style: none;
		margin: 0;
		padding: 0;
		display: block;
		.award {
			margin-bottom: 20px;
			.title {
				font-weight: 700;
				font-size: 1.2rem;
			}
			.col-md-11 {
				padding-top: 5px;
			}
			a, a:hover {
				text-decoration: underline dotted #444;
				color: #444;
			}
			a:hover {
				text-decoration: none;
			}
			.desc {
				display: none;
			}
			&.active .desc {
				display: block;
				margin-bottom: 0;
			}
			&.active .title {
				font-size: 1.5rem;
			}
			.circle {
				width: 40px;
				height: 40px;
				display: inline-block;
				float: left;
				margin-right: 20px;
				background: $lightgreen;
				border-radius: 50%;
				border: 5px solid #fff;
				position: relative;
				left: 5px;
			}
			&.active .circle {
				background: $green2;
				width: 50px;
				height: 50px;
				left: 0;
			}
		}
	}
	.one {
		padding: 4%;
		.desc {
			padding: 0 0 6%;
			line-height: 200%;
			h2{
				margin-bottom: 20px;
			}
			p{
				font-size: 1.2rem;
			}
			&.first {
				padding-bottom: 0;
				padding-top: 6%;
			}
		}
	}
}