/* Comunicados - Detalles
------------------------------------------ */
.news {
	.smaller-container {
		margin: 4% auto 8%;
	}
	.top {
		p.date {
			border-bottom: 1px solid #ccc;
			font-size: 12px;
			letter-spacing: .05rem;
			padding-bottom: 5px;
		}
		h1.title {
			font-weight: 800;
			color: $darkgray;
			font-size: 2rem;
			margin-bottom: 20px;
		}
	}
	.entry {
		img {
			display: block;
			max-width: 100%;
			margin: 50px 0;
		}
		hr{
			margin: 50px 0 35px;
		}
		.body {
			font-size: 14px;
			line-height: 180%;
		}
	}
	.more-news {
		h5 {
			border-bottom: 1px solid #ccc;
			color: black;
			font-weight: 600;
			margin-bottom: 15px;
			padding-bottom: 8px;
		}
		a {
			display: inline-block;
			color: #777;
		}
		.news-preview{
			margin: 6px 0;
			.date {
				font-size: 12px;
				margin-bottom: 4px;
			}
			.title {
				color: #2a2a2a;
				font-size: 14px;
				font-weight: 600;
			}
		}

	}
}
