/* Comunicados - Detalles
------------------------------------------ */
.news {
	margin-top: 40px;
	.entry {
		img {
			display: block;
			width: 600px;
		}
		hr{
			margin: 50px 0 35px;
		}
		p.date {
			font-size: 12px;
			letter-spacing: .1rem;
			margin-bottom: 10px;

		}
		h3.title {
			font-weight: 800;
			color: $darkgray;
			font-size: 24px;
			margin-bottom: 20px;
		}
		p.body {
			font-size: 16px;
			margin-bottom: 40px;
		}
	}
	.more-news {
		margin-top: 50px;
		h5 {
			border-bottom: 1px solid #ccc;
			color: black;
			font-weight: 600;
			margin-bottom: 15px;
		}
		.news-preview{
			margin: 6px 10px;
		}
		.col p.date {
			font-size: 12px;
			margin-bottom: 4px;
		}
		.col p.title {
			font-size: 14px;
			font-weight: 600;
		}
		img.preview {
			max-width: 120px;
			max-height: 120px;
			padding: 0px;
		}
		.popular {
			margin-top: 30px;
			.news-preview {
				margin-left: 25px;
			}
		}
	}
}
