.error.content{
	margin-bottom: 0;
	.banner {
		padding: 10% 0;
		h1 {
			margin-bottom: 7px;
		}
		p {
			margin-bottom: 5px;
		}
	}
	.help{
		h2{
			font-weight: 600;
			margin-top: 40px;
			margin-bottom: 10px;
		}
		a {
			font-size: 14px;
			padding: 3px;
		}
	}
	@media (max-width: 576px) {
		&.error h1, h2{
			font-size: 2rem !important;
			margin-bottom: 20px;
		}
		&.error p{
			font-size: 14px;
		}
	}
}