/*
	Author: CADHAC
*/

// @import "mixins";
// @import "offset";

$primary: #4967c2;
$secondary: #01a551;
$greey: #f3f3f3;
$bordergray: #a0a0a0;
$footerbg: #1b1d1f;

// white
// black
*{
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', sans-serif;
}