/*
	Author: CADHAC
*/

// @import "mixins";
// @import "offset";

*{
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', sans-serif;
}
a{text-decoration: none;}
img{max-width: 100%;}
.ttu{text-transform: uppercase;}
.tac{text-align: center;}

/* Colors 
---------------------------------- */
$primary: #109347;
$green2: #299751;
$lightgreen: #90c54c;
$secondary: #74428f;
$accent: #f4c80f;
$grey: #777;
$text: #777;
$bordergray: #ccc;
$darkgray: #2a2a2a;
$footerbg: #1b1d1f;
$paleyellow: #e8eaa7;

$colors: (
	black: #000,
	white: #fff,
	text: $grey,
	primary: $primary,
	secondary: $secondary,
	lightgreen: $lightgreen,
	paleyellow: $paleyellow,
	accent: $accent,
	green2: $green2
);

@each $color in $colors{
	.#{""+nth($color,1)}{
		color: #{nth($color,2)};
	}
	a.#{""+nth($color,1)}:hover{ 
		color: darken(nth($color,2),10%);
	}
	.bg-#{""+nth($color,1)}{
		background-color: #{nth($color,2)};
	}
	a.bg-#{""+nth($color,1)}, button.bg-#{""+nth($color,1)}{
		color: white;
		&:hover{ background-color: darken(nth($color,2),10%); }
	}
}


p{
	color: $text;
}
h1, h2, h3, h4, h5, h6{
	color: $primary;
	margin: 0;
}
