/*
	Author: CADHAC
*/

// @import "mixins";
// @import "offset";

*{
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', 'Segoe UI', sans-serif;
	border-top: 25px solid #f6f6f6;
}
a{text-decoration: none;}
img{max-width: 100%;}
.ttu{text-transform: uppercase;}
.tac{text-align: center;}
.tar{text-align: right;}

/* Colors 
---------------------------------- */
$primary: #109347;
$green2: #299751;
$lightgreen: #90c54c;
$secondary: #74428f;
$accent: #f4c80f;
$grey: #777;
$text: #777;
$bordergray: #ccc;
$darkgray: #2a2a2a;
$footerbg: #1b1d1f;
$paleyellow: #e8eaa7;

$colors: (
	black: #000,
	white: #fff,
	text: $grey,
	primary: $primary,
	secondary: $secondary,
	lightgreen: $lightgreen,
	paleyellow: $paleyellow,
	accent: $accent,
	green2: $green2
);

@each $color in $colors{
	.#{""+nth($color,1)}{
		color: #{nth($color,2)};
	}
	a.#{""+nth($color,1)}:hover{ 
		color: darken(nth($color,2),10%);
	}
	.bg-#{""+nth($color,1)}{
		background-color: #{nth($color,2)} !important;
	}
	a.bg-#{""+nth($color,1)}, button.bg-#{""+nth($color,1)}{
		color: white;
		&:hover, &:focus{ background-color: darken(nth($color,2),10%) !important; }
	}
}


p{color: $text; }
strong {font-weight: 700; }
small{font-size: 12px;}
h1, h2, h3, h4, h5, h6{
	color: $primary;
	margin: 0;
	font-weight: 700;
}
.btn{
	border-radius: 0;
	display: block;
	font-weight: 600;
	padding: 8px 35px;
}
.sep {
	letter-spacing: .1rem;
}
.content {
	margin-bottom: 6%;
}
/* Header
------------------------ */
header.main {
	margin-top: 30px;
	a.language{
		color: $text;
		font-size: 10px;
		margin-right: 30px;
	}
	section.main-nav {
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		margin-top: 40px;
		padding: 0;
	}
	a.nav-item.nav-item {
		border-top: 1px solid #ccc;
		color: $text;
		padding: 15px 1rem 10px;
		margin: 0;
		font-weight: 600;
		&.active, &:hover {
			border-top: 1px solid $secondary;
			color: $secondary;
		}
	}
}
nav.navbar {
	padding-top: 0;
	padding-bottom: 0;
	position: relative;
	top: -1px;
}

@import "aboutus";
@import "donaciones";